:root {
    --color-border-input: #0ea;
};

body {
  font-family: arial;
}

.addon-store .pagehead h1 { display: inline-block }
.addon-store .addon-summary::after { clear: both }

#addon-store .pagehead .electrocat-small {
    bottom: calc(100% - 20px);
    position: absolute;
    right: 0;
}

.addon-store .addons-nav::after {
    display: block;
    content: attr("data-link");
}

.addon-store .addons-nav a:hover {
   background-color: red;
}

.addon-store .addons-nav a.selected {
    border-bottom-color: #d26911;
    color: #333;
    font-weight: bold;
    padding: 0 0 14px;
}

.addon-store img {
    filter: grayscale(100%);
}

@supports (display: grid) {
  div {
    display: grid;
  }
}

.addon-store .addon-icon {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    float: left;
    height: 80px;
    margin-right: 14px;
    width: 80px;
}

.addon-store .developer-callout {
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(#fafafa, #f1f1f1);
    background-image: -webkit-linear-gradient(#fafafa, #f1f1f1);
    background-image: linear-gradient(#fafafa, #f1f1f1);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px #f1f1f1;
    margin-top: 40px;
    text-shadow: 0 1px 0 #fff;
}

.addon-field-editor .addon-field-list, .addon-field-editor .addon-new-field {
    border-radius: 3px;
    box-sizing: border-box !important;
    display: inline-block;
    text-align: center;
    width: 595px;
}

#form input[type="text"] {
    border: 1px solid var(--color-border-input);
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

@media screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}
