html
    head
        title This is my first Pug file
    body
        header
            p My soon to be menu
        section
            p This is a post about Pug template engine, enjoy it!
            ul
                li
                    a(href='/') Home
                li
                    a(href='/page-1') Page 1
                li
                    a(href='/page-2') Page 2
                input.search(
                    type='text'
                    name='search'
                    placeholder='Enter a search term...'
                )
        footer
            cool footer with lots of copyrights
